// UTILITIES
.u-daniel-degree,
.u-daniel-subtext {
  color: $primary-purple-50;
}

.u-daniel-name,
.u-daniel-text {
  color: $neutral-white;
  z-index: 1;
}

.u-jonathan-degree,
.u-jonathan-subtext {
  color: $neutral-grey-100;
}

.u-jonathan-name,
.u-jonathan-text {
  color: $neutral-white;
}

.u-jeanette-degree,
.u-jeanette-subtext {
  color: $neutral-grey-400;
}

.u-jeanette-name,
.u-jeanette-text {
  color: $neutral-grey-500;
}

.u-patrick-name,
.u-patrick-degree,
.u-patrick-text,
.u-patrick-subtext {
  color: $neutral-grey-100;
}

.u-kira-degree,
.u-kira-text,
.u-kira-subtext {
  color: $neutral-grey-400;
}

.u-kira-name,
.u-kira-text {
  color: $neutral-grey-500;
}
